$black: #000000;
$white: #ffffff;
$text: #363636;

$success-100: #95e8ab;
$success-200: #5dd07c;
$success-300: #25b84c;
$success-400: #168734;

$warning-100: #f0d458;
$warning-200: #eec71c;
$warning-300: #ddb814;
$warning-400: #c8a919;

$error-100: #fa6e75;
$error-200: #fa6e75;
$error-300: #d0343c;
$error-400: #c11c24;

$light-theme-layout: #ebebeb;
$light-theme-primary: #7400b8;
$light-theme-secondary: #dfbeff;
$border-color-light_prim: #EAEAEA;
$border-color-light_sec: #b7b5b5;

$dark-theme-layout: #171614;
$dark-theme-primary: #ffd100;
$dark-theme-secondary: #ffee32;
$border-color-dark_prim: #333533;
$border-color-dark_sec: #202020;
