@mixin flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}
@mixin flex-center {
    align-items: center;
    justify-content: center;
}
@mixin box-shadow($shadows...) {
    box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -o-box-shadow: $shadows;
}
@mixin transform($val...) {
    transform: $val;
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    -ms-transform: $val;
}

@mixin transition($val) {
    transition: all $val + s ease-in-out !important;
    -webkit-transition: all $val + s ease-in-out !important;
    -moz-transition: all $val + s ease-in-out !important;
    -o-transition: all $val + s ease-in-out !important;
}
@mixin animation($animations...) {
    animation: $animations;
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
}
@mixin box-sizing($val) {
    box-sizing: $val;
    -webkit-box-sizing: $val;
    -moz-box-sizing: $val;
}
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-khtml-keyframes #{$animation-name} {
        @content;
    }
}
@mixin align-items($val) {
    align-items: $val;
    -webkit-align-items: $val;
}
@mixin align-self($val) {
    align-self: $val;
    -webkit-align-self: $val;
}
@mixin justify-content($val) {
    justify-content: $val;
    -webkit-justify-content: $val;
}
@mixin flex-flow($val) {
    flex-flow: $val;
    -webkit-flex-flow: $val;
}
