.error-page {
    @import "../../variables/colors";
    .error-header {
        font-size: 40px;
        font-weight: 600;
    }
    .error-btn {
        color: $white;
        background: $error-400;
        font-size: 20px;
    }
}
