.main-page {
    @import "../../Extensions";
    @import "../../variables/colors";
    .ruler {
        border: 1px solid $border-color-light_prim;
        margin-block: 5px 45px;
    }
    .results {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    .articles-list {
        .card-container {
            @include flex;
            @include flex-center;
            .card {
                @include flex;
                @include flex-flow(column nowrap);
                @include justify-content(space-between);
                @include align-self(stretch);
                border-radius: 5px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
                border: 1px solid $border-color-light_prim;
                .text-content {
                    padding: 25px 25px 0;
                }
                &-date {
                    @include flex;
                    @include align-items(center);
                    line-height: 1;
                    opacity: 0.6;
                    -moz-opacity: 0.6;
                    & > .icon {
                        margin-right: 5px;
                    }
                }
                &-header {
                    min-height: 161px;
                    margin-block: 20px;
                    font-size: 24px;
                }
                &-content {
                    color: $text;
                    margin-bottom: 20px;
                    padding: 0;
                }
                &-actions {
                    color: black;
                    padding: 0 25px 25px;
                }
                &-link {
                    color: $text;
                    font-weight: 700;
                }
            }
        }
    }
}
